body {
    display: block;
    margin: 0px;
}

nav{
    height: 9vh;
    background:url(/assets/img/wave.jpg);
    font-family: sans-serif; 
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nav-article{
    margin-bottom: 0;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;   
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    position: fixed;
    background:url(/assets/img/wave.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -25%);
    -webkit-clip-path: circle(100px at 90% -25%);
    transition: all 1s ease-out; 
    pointer-events: none;
    z-index: 1
}

    

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.nav-links.open{
    clip-path: circle(2000px at 90% -25%);
    -webkit-clip-path: circle(2000px at 90% -25%);
    pointer-events: all;
}

  
.line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
}



.hamburger{
    position:absolute;
    cursor: pointer;
    right: 5%;
    top: 12%;
    transform: translate(-5% , 50%);
    z-index: 2;
}

    
    
