* {
  margin: 0; padding: 0;
}

.accordion {
  width: 100%;
  margin: 20px auto;
}
.accordion h1, h2{
  cursor: pointer;
}
.accordion h2{
  font-family: 'Allerta Stencil', sans-serif;
  font-family: 'Amatic SC', cursive;
}
.accordion h1 {
  padding: 15px 20px;
  background-color: #366CF4;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #ffffff;
}
.accordion h1:hover { 
  color: #ffffff;
}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px dotted #366CF4;
}
 .accordion p {
  display: none;
  font-family: 'Allerta Stencil', sans-serif;
  font-family: 'Amatic SC', cursive;
}
.accordion h2 {
  padding: 5px 25px;
  background-color: #87A7F7;
  font-size: 1.8rem;
  color: #ffffff;
}

.accordion h2:hover {
  background-color: #1453F0;
}
.accordion h2:hover {
 color: #f5f0ef;
}

.accordion p {
  padding: 15px 35px;
  background-color: #67989A;
  color: #ffffff;
  line-height: 1.3rem;
  font-size: 1.2rem;
}
.accordion .opened-for-codepen {
  display: block;
}

.column__title{
  font-family: 'Nunito', sans-serif;
}