.btn{
    background-color: #87A7F7;
    border-color: #87A7F7;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.icon{
    padding: 15px 20px;
    background-color: #366CF4;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: #ffffff;
}
 .icon i{
     margin: 0 1rem 0 1rem;
 }

 .icon button{
    background-color: #87A7F7;
    border-color: #87A7F7;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
