.subject {
    
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subject h2 {
    background-color: rgb(54 108 244 / 92%);
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 1rem 1rem;
    color: #eeeeee;
    border-radius: 10px;
}

.article {
    background-color: rgb(173 175 178);
    width: 100%;
    height: 103vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: rgb(221, 221, 221);
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: rgb(70 120 245);
    font-weight: bold;
}

.cardBox {
    height: 500px;
    width: 301px;
    position: relative;
    overflow: hidden;
  }

  .scroll {
    height: 60vh;
    overflow-y: scroll;
  }
  .cardBoxMid {
    height: 238px;
    width: 287px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: rgb(221, 221, 221);
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px #413075;
    padding: 10px;
    background-color: rgb(70 120 245);
    font-weight: bold;
  }

  .color{
    height: 100vh;
    background-color: #ffffffa8;
    padding: 0.5rem;
  }

  .textVeille{
    color: rgb(0, 0, 0);
    background-color: #03a9f452;
    width: 64rem;
    height: 40rem;
    margin: 1rem;
  }
  .titles{
    margin-top: 1rem;
    padding: 2rem 0 1rem 0;
  }

  @media (max-width: 768px){
  .cardBox {
      height: 392px;
      width: 44vw;
      position: relative;
      overflow: hidden;
  }
  .cardBoxMid{
    height: 184px;
    width: 287px;
  }
  
  .scroll {
    height: 55vh;
    width: 110vh;
    overflow-y: scroll;
  }
  .textVeille{
    width: 41rem;
    height: 38rem;
    margin: 1rem;
  }
}




@media(max-width:583px){
  .cardBox {
    height: 407px;
    width: 84vw;
    position: relative;
    overflow: hidden;
  }
  .scroll {
    height: 55vh;
    width: 49vh;
    overflow-y: scroll;
  }
  
  .cardBoxMid {
    height: 238px;
    width: 267px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: rgb(221, 221, 221);
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px #413075;
    padding: 10px;
    background-color: rgb(70 120 245);
    font-weight: bold;
  }
  .textVeille{
    width: 19rem;
      height: 38rem;
      margin: 1rem;
  }
}

@media(max-width:320px){
  .color{
    height: 100vh;
    background-color: #ffffffa8;
    width: 47vh;
  }
  .textVeille{
    background-color: #03a9f452;
    width: 16rem;
    height: 38rem;
    margin: none;
}
}
 
  .cardBoxMid h3{
    padding: 10px;
  }

  .cardFooterMid {
    position: absolute;
    width: 80%;
    padding: 10px;
    bottom: -300px;
    left: 10%;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
    color: white;
    text-align: center;
  }

  .cardBoxMid:hover .cardFooterMid {
    bottom: 20px;
  }

  .subject{
    height: 10vh;
    color: aliceblue;
    background: #87a7f7b9;
  }

  .scrollBox button{
    margin: 0px 116px 5px;
  }

.btn .a{
  color: white;
}
  
.btnColor{
  color: #fff;
  background-color: #87A7F7;
  border-color: #87A7F7;
} 

.backImage{
  height: 100vh;
}



