@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin:0;
  padding:0;
  font-family:'Poppins', sans-serif;
}
section{
  position:relative;
  width:100%;
  height: 43vh;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:100px;
  box-sizing:border-box;
  justify-content: center;
  background:#366CF4;
}
section .contentTitle{
  max-width:700px;
  font-size:4em;
}
section .contentTitle h2{
  color:#fff;
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: bold;
}
section .content p{
  font-size:1.2em;
  color:#fff;
}
section img{
  position:relative;
  max-width:350px;
  z-index:1000;
}

.wave{
  position:absolute;
  bottom:0;
  left:0;
}

@media (max-height:570px){
  section .contentTitle{
    width: 100%;
    font-size:5rem;
  }
}